{% extends "layout.html" %}

{% block title %} estores - your online store {% endblock %}

{% block content %}
    <div id="offcanvas-menu" uk-offcanvas="overlay: true;">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <ul class="uk-nav uk-nav-default">
                <li >Menu</li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{ url_for('auth.login') }}"><span class="uk-margin-small-right" uk-icon="icon: sign-in"></span> Login</a></li>
                <li><a href="{{ url_for('auth.register') }}"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Register</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
            </ul>
        </div>
    </div>

    <div id="offcanvas-cart" uk-offcanvas="overlay: true;">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <p class="uk-margin-remove">Title</p>
            <p class="uk-margin-small-top uk-margin-remove-bottom"><img src="{{ url_for('static', filename='img/images/photo.jpg') }}" alt=""></p>
            <p class="uk-margin-small">Price: Php 1000.00</p>
            <p class="uk-margin-small-top uk-margin-remove-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <form action="#">
                <div class="uk-margin-small-top uk-margin-small-bottom uk-text-center uk-padding-small uk-padding-remove-horizontal uk-padding-remove-top" uk-grid>
                    <div class="uk-width-auto">
                        <p>Quantity:</p>
                    </div>
                    <div class="uk-width-1-3">
                        <input type="text" class="uk-input uk-form-small" placeholder="0">
                    </div>
                    <div class="uk-width-expand">
                        <button class="uk-button uk-button-small uk-button-danger">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-container">
        <ul class="uk-breadcrumb uk-margin-small-top">
            <li><a href="#"><span class="uk-label">Item</span></a></li>
            <li><a href="#"><span class="uk-label">Item</span></a></li>
            <li><a href="#"><span class="uk-label uk-label-success">Item</span></a></li>
        </ul>

        <div class="uk-child-width-1-3@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-background-primary">
                    <div class="uk-card-media-top">
                        <img src="{{ url_for('static', filename='img/images/photo.jpg') }}" alt="">
                    </div>
                    <div class="uk-card-body uk-padding-remove uk-child-width-1-2" uk-grid>
                        <div uk-lightbox>
                            <a class="uk-button uk-button-small uk-button-primary" href="{{ url_for('static', filename='img/images/light.jpg') }}" data-caption="Caption">View</a>
                        </div>
                        <div>
                            <a class="uk-button uk-button-small uk-button-primary" href="#offcanvas-cart" uk-toggle>Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-background-primary">
                    <div class="uk-card-media-top">
                        <img src="{{ url_for('static', filename='img/images/photo.jpg') }}" alt="">
                    </div>
                    <div class="uk-card-body uk-padding-remove uk-child-width-1-2" uk-grid>
                        <div uk-lightbox>
                            <a class="uk-button uk-button-small uk-button-primary" href="{{ url_for('static', filename='img/images/light.jpg') }}" data-caption="Caption">View</a>
                        </div>
                        <div>
                            <a class="uk-button uk-button-small uk-button-primary" href="#offcanvas-cart" uk-toggle>Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-background-primary">
                    <div class="uk-card-media-top">
                        <img src="{{ url_for('static', filename='img/images/photo.jpg') }}" alt="">
                    </div>
                    <div class="uk-card-body uk-padding-remove uk-child-width-1-2" uk-grid>
                        <div uk-lightbox>
                            <a class="uk-button uk-button-small uk-button-primary" href="{{ url_for('static', filename='img/images/light.jpg') }}" data-caption="Caption">View</a>
                        </div>
                        <div>
                            <a class="uk-button uk-button-small uk-button-primary" href="#offcanvas-cart" uk-toggle>Cart</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% block page_content %}
    {% endblock %}

{% endblock %}
