<div class="column menu uk-visible@m">
    <div class="uk-card uk-card-muted uk-text-center uk-padding-small">
        <div class="uk-card-media-top uk-padding uk-padding-remove-vertical">
            <img class="uk-comment-avatar uk-border-rounded" src="{{ url_for('static', filename='img/images/avatar.jpg') }}" alt="me">
        </div>
        <br>
        <div class="uk-card-body uk-padding-remove">
            <!--form>
                <select class="uk-select uk-form-small">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </select>
            </form-->
            <span class="uk-label">Name</span>
        </div>
    </div>

    <hr class="uk-divider-icon uk-margin-remove">
    <br>
    <div class="uk-width-1-1@s">
        <ul class="uk-nav uk-nav-default uk-padding uk-padding-remove-top">
            <li class="uk-nav-header">Navigation</li>
            <li {% if menu_active == 'dashboard' %} class="uk-active" {% endif %}><a href="{{ url_for('accounts.dashboard') }}"><span uk-icon="icon: home"></span>&nbsp;&nbsp;Dashboard</a></li>
            <li {% if menu_active == 'profile' %} class="uk-active" {% endif %}><a href="{{ url_for('accounts.profile') }}"><span uk-icon="icon: user"></span>&nbsp;&nbsp;Profile</a></li>
            <li {% if menu_active == 'settings' %} class="uk-active" {% endif %}><a href="{{ url_for('accounts.settings') }}"><span uk-icon="icon: settings"></span>&nbsp;&nbsp;Settings</a></li>
        </ul>
    </div>
</div>
