{% extends "layout.html" %}

{% block content %}
    <div id="offcanvas-menu" uk-offcanvas="overlay: true;">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <ul class="uk-nav uk-nav-default">
                <li >Menu</li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{ url_for('auth.login') }}"><span class="uk-margin-small-right" uk-icon="icon: sign-in"></span> Login</a></li>
                <li><a href="{{ url_for('auth.register') }}"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Register</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
            </ul>
        </div>
    </div>

    <div id="offcanvas-cart" uk-offcanvas="overlay: true;">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <p class="uk-margin-remove">Title</p>
            <p class="uk-margin-small-top uk-margin-remove-bottom"><img src="{{ url_for('static', filename='img/images/photo.jpg') }}" alt=""></p>
            <p class="uk-margin-small-top uk-margin-remove-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <form action="#">
                <div class="uk-margin-small-top uk-margin-small-bottom uk-text-center uk-padding-small uk-padding-remove-horizontal uk-padding-remove-top" uk-grid>
                    <div class="uk-width-auto">
                        <p>Quantity:</p>
                    </div>
                    <div class="uk-width-1-3">
                        <input type="text" class="uk-input uk-form-small" placeholder="0">
                    </div>
                    <div class="uk-width-expand">
                        <button class="uk-button uk-button-small uk-button-danger">Buy</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% block page_content %}
    {% endblock %}

{% endblock %}
