{% extends "accounts/base.html" %}

{% block title %} estores - dashboard {% endblock %}

{% block page_content %}
    {% set menu_active = 'dashboard' %}
    {% include 'accounts/_menu.html' %}

    <div class="column content-small uk-visible@m">
        <div class="section-header">
            <ul class="uk-subnav uk-padding-small" uk-switcher="connect: #section-content-tabs">
                <li class="uk-active"><a href=""><span uk-icon="icon: list"></span>&nbsp;Overview</a></li>
                <li><a href=""><span uk-icon="icon: plus"></span>&nbsp;Add</a></li>
                <li><a href=""><span uk-icon="icon: trash"></span>&nbsp;Delete</a></li>
                <li><a href=""><span uk-icon="icon: search"></span>&nbsp;Search</a></li>
            </ul>
        </div>
        <div class="section-body uk-background-muted" style="border: 1px solid #73AD21;">
            <ul id="section-content-tabs" class="uk-switcher uk-padding-small uk-padding-remove-top">
                <li>
                    <div class="uk-grid-small uk-padding-small uk-padding-remove-bottom" uk-grid>
                        <div class="uk-width-auto">
                            <h5 class="uk-heading-bullet">
                                Click a category or&nbsp;
                                <a href="" class="expand-collapse uk-button uk-button-small uk-button-primary">
                                    <div class="toggle">Toggle All</div>
                                </a>
                            </h5>
                        </div>
                    </div>
                    <hr>
                    <ul class="accordion-toggler uk-background-default uk-padding-small" uk-accordion="multiple: true;">
                        <li>
                            <h5 class="uk-accordion-title">Category A</h5>
                            <div class="uk-accordion-content uk-grid-small uk-padding-small uk-padding-remove-top" uk-grid>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <h4>Default</h4>
                                        <p>Picture! Picture!</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <h4>Default</h4>
                                        <p>Picture! Picture!</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h5 class="uk-accordion-title">Category B</h5>
                            <div class="uk-accordion-content uk-grid-small uk-padding-small uk-padding-remove-top" uk-grid>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <h4>Default</h4>
                                        <p>Picture! Picture!</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <h4>Default</h4>
                                        <p>Picture! Picture!</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <h5 class="uk-accordion-title">Category C</h5>
                            <div class="uk-accordion-content uk-grid-small uk-padding-small uk-padding-remove-top" uk-grid>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <h4>Default</h4>
                                        <p>Picture! Picture!</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <h4>Default</h4>
                                        <p>Picture! Picture!</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h5 class="uk-accordion-title">Category D</h5>
                            <div class="uk-accordion-content uk-grid-small uk-padding-small uk-padding-remove-top" uk-grid>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <h4>Default</h4>
                                        <p>Picture! Picture!</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                                        <h4>Default</h4>
                                        <p>Picture! Picture!</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="uk-padding-small" uk-tab>
                        <li><a href="">Add Category</a></li>
                        <li><a href="">Add Item</a></li>
                    </ul>
                    <ul class="uk-switcher uk-padding-small">
                        <li>
                            <h5>New Category:</h5>
                            <div class="uk-card uk-card-default uk-card-body uk-width-1-4@s">
                                <h3 class="uk-card-title">Default</h3>
                                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </li>
                        <li>
                            <h5>New Item:</h5>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="uk-padding-small" uk-tab>
                        <li><a href="">Delete Category</a></li>
                        <li><a href="">Delete Item</a></li>
                    </ul>
                    <ul class="uk-switcher uk-padding-small">
                        <li>
                            <h5>Category:</h5>
                            <div class="uk-card uk-card-default uk-card-body uk-width-1-4@s">
                                <h3 class="uk-card-title">Default</h3>
                                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </li>
                        <li>
                            <h5>Item(s):</h5>
                        </li>
                    </ul>
                </li>
                <li>
                    <form class="uk-grid-small uk-padding-small uk-padding-remove-bottom" uk-grid>
                        <div class="uk-width-auto">
                            <h5>Search:</h5>
                        </div>
                        <div class="uk-width-auto">
                            <input type="text" class="uk-input uk-form-small" name="keyword" placeholder="Keyword">
                        </div>
                    </form>
                    <hr>
                    <div>
                        Search Results
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="column content-big uk-hidden@m">
        main body of dashboard
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('.expand-collapse').click(function(e){
        e.preventDefault();
        UIkit.accordion('.accordion-toggler').toggle(0);
        UIkit.accordion('.accordion-toggler').toggle(1);
        UIkit.accordion('.accordion-toggler').toggle(2);
        UIkit.accordion('.accordion-toggler').toggle(3);
    });
</script>
{% endblock %}
