{% extends "accounts/base.html" %}

{% block title %} estores - profile {% endblock %}

{% block page_content %}
    {% set menu_active = 'profile' %}
    {% include 'accounts/_menu.html' %}

    <div class="column content-small uk-visible@m">
        <div class="section-profile uk-background-muted uk-padding-small" style="border: 1px solid #73AD21;">
            <div>
                <h4 class="uk-heading-bullet">Personal Information</h4>
                <form class="uk-form-horizontal">
                    <div class="uk-margin-small">
                        <label class="uk-form-label" for="form-horizontal-text">Text</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-width-large" id="form-horizontal-text" type="text" placeholder="Some text...">
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div>
                <h4 class="uk-heading-bullet">Establishment Information</h4>
            </div>
        </div>
    </div>
    <div class="column content-big uk-hidden@m">
        main body of profile
    </div>
{% endblock %}
