{% extends "auth/base.html" %}

{% block title %} estores - login {% endblock %}

{% block page_content %}
    <div class="uk-container">
        <div class="uk-margin-top uk-position-top-center login-tile" uk-grid>
            <!--div>
                {% if form.errors %}
                {{ form.errors }}
                {% endif %}
            </div-->
            {% for message in get_flashed_messages() %}
            <div>
                <div class="uk-alert-primary" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <h3>Notice</h3>
                    <p>{{ message }}</p>
                </div>
            </div>
            {% endfor %}
            <div>
                <div class="uk-tile uk-tile-muted uk-padding-small">
                    <form action="{{ url_for('auth.login') }}" method="post">
                        <h3 class="uk-text-center">Login</h3>

                        {{ form.csrf_token }}
                        {{ form.email(class_="uk-input", placeholder="Email") }}
                        {{ form.password(class_="uk-input", placeholder="Password") }}

                        <div class="uk-margin-small">
                            <label>{{ form.remember_me(class_="uk-checkbox") }}&nbsp;&nbsp;{{ form.remember_me.label }}</label>
                        </div>

                        <input class="uk-button uk-button-primary uk-width-1-1" type="submit" name="signin" value="Sign In">
                    </form>

                    <div class="uk-margin-small">
                        <a class="uk-button uk-button-danger uk-width-1-1" href="{{ url_for('auth.register') }}">Sign Up</a>
                    </div>

                    <p class="troubleshoot-link">Forgot your password? <a href="#"><u style="color:#2eb82e;">Click Here!</u></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    setTimeout("UIkit.alert('.uk-alert-primary').close()", 3000);
</script>
{% endblock %}
