{% extends "auth/base.html" %}

{% block title %} estores - register {% endblock %}

{% block page_content %}
<div class="uk-container">
    <div class="uk-margin-top uk-position-top-center register-tile" uk-grid>
        <div>
            <div class="uk-tile uk-tile-muted uk-padding-small">
                <form action="{{ url_for('auth.register') }}" method="post">
                    <h3 class="uk-text-center">Create Account</h3>

                    {{ form.csrf_token }}
                    {{ form.email(class_="uk-input", placeholder="Email") }}
                    {{ form.full_name(class_="uk-input", placeholder="Full Name (First MI Last)") }}
                    {{ form.contact_no(class_="uk-input", placeholder="11-digit Mobile Number") }}
                    {{ form.password(class_="uk-input", placeholder="Password") }}

                    <div class="uk-margin-small">
                        <input class="uk-button uk-button-primary uk-width-1-1" type="submit" name="continue" value="Continue">
                    </div>
                </form>

                <p class="troubleshoot-link">Terms and Conditions&nbsp;&nbsp;<a href="#"><u style="color:#2eb82e;">Click Here!</u></a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
