{% extends "layout.html" %}

{% block navbar %}
    <div class="uk-navbar-left">
        <div class="uk-navbar-item">
            <div><a class="uk-navbar-item uk-logo" href="{{ url_for('main.index') }}">Logo</a></div>
        </div>

        <ul class="uk-navbar-nav uk-visible@m">
            <li><a href="#">Active</a></li>
            <li>
                <a href="#">Parent</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Item</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#offcanvas-menu" uk-toggle></a>

        <div class="uk-navbar-item uk-visible@m">
            <div>
                <a class="uk-button uk-button-text" href="#">
                    <span class="uk-icon" uk-icon="icon: cart"></span>
                    Cart
                </a>
            </div>
        </div>
        <div class="uk-navbar-item uk-visible@m">
            <div><a class="uk-button uk-button-text" href="{{ url_for('auth.login') }}">Login</a></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="uk-container">
        <div class="uk-margin-top uk-alert-danger" uk-alert><h2>Error 404: Page Not Found</h2></div>
    </div>
{% endblock %}
