<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        {% block head %}

        <title>{% block title %}{% endblock %}</title>

        {% assets "uikit_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "uikit_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% endblock %}
    </head>
    <body style="position: relative; min-height: 100%; top: 0px;">
        {% block body %}

        <div class="uk-offcanvas-content">
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">
            <nav class="uk-navbar-container uk-light" uk-navbar="mode: click">
                <div class="uk-navbar-left">
                    <div class="uk-navbar-item">
                        <div><a class="uk-navbar-item uk-logo" href="{{ url_for('main.index') }}">Logo</a></div>
                    </div>

                    <ul class="uk-navbar-nav uk-visible@m">
                        <li><a href="#">Active</a></li>
                        <li>
                            <a href="#">Parent</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>

                <div class="uk-navbar-right">
                    <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#offcanvas-menu" uk-toggle></a>

                    <div class="uk-navbar-item uk-visible@m">
                        <div>
                            <a class="uk-button uk-button-text" href="#">
                                <span class="uk-icon" uk-icon="icon: cart"></span>
                                Cart
                            </a>
                        </div>
                    </div>
                    <div class="uk-navbar-item uk-visible@m">
                        {% if current_user.is_authenticated %}
                            <div><button class="uk-button uk-button-text" type="button">{{ current_user.email }}</button></div>
                            <div uk-dropdown="mode: click">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-nav-header">{{ current_user.name }}</li>
                                    <li><a href="{{ url_for('accounts.dashboard') }}">Dashboard</a></li>
                                    <li><a href="{{ url_for('accounts.profile') }}">Profile</a></li>
                                    <li><a href="{{ url_for('accounts.settings') }}">Settings</a></li>
                                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <div><a class="uk-button uk-button-text" href="{{ url_for('auth.login') }}">Login</a></div>
                        {% endif %}
                    </div>
                </div>
            </nav>
            </div>
          <div class="body-navbar">
          </div>

          <div class="body-content">
            {% block content %}
            {% endblock %}
          </div>

            {% block scripts %}
            {% endblock %}
        </div>

        {% endblock %}
    </body>
</html>
