/* general */
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #0073e6 none repeat scroll 0 0;
}

.uk-navbar-container {
    width: 100%;
    height: 80px;
}

.body-navbar {
    position: relative;
    top: 0px;
    height: 80px;
}

.body-content {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
    /*border: 3px solid #73AD21;*/
    overflow: auto;

    background-image: url('/static/img/images/dark.jpg');
    background-size: cover;
}

/* login and registration */
.troubleshoot-link {
    font-size:12px;
    text-decoration: none;
    color:#0099ff;
    font-weight: bold;
    text-align: center;
}

.register-tile, .login-tile {
    width: 300px;
    margin: 0px auto 0px auto;
}

/* accounts */
.column {
    float: left;
    /*border: 1px solid #73AD21;*/
}

.menu {
    width: 20%;
    height: 100%;
    background: #ffffff;
}

.content-small {
    width: 80%;
    height: 100%;
    background: #eeeeee;
}

.content-big {
    width: 100%;
    height: 100%;
    background: #eeeeee;
}

.section-header {
    width: 100%;
    height: 53px;
}

.section-body {
    width: 100%;
    height: 91%;
    overflow: auto;
}

.section-profile {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.section-settings {
    width: 100%;
    height: 100%;
    overflow: auto;
}
